<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>조성진의 게시판 웹 애플리케이션</title>
</head>
<body>
<!--헤더-->
  <header><div th:replace="fragments/bodyHeader :: bodyHeader" />
  </header>
<!--점보토론-->
<div class="p-5 bg-rihgt rounded-3">
    <div class="container-fluid py-5 px-5">
        <h1 class ="display-5 fw-bold">무엇을 쓰든 상관없다!</h1>
        <h1 class="display-5 fw-bold">6단어를 활용한 게시판 소설</h1>
        <p class ="col-md-8 fs-5">"For sale : Baby shoes. Never worn." 헤밍웨이가 6단어로만 쓴 소설. <br> 당신도 헤밍웨이처럼 멋진 6단어를 써봐!</p>
        <button class="btn btn-primary btn-lg" th:onclick="'location.href=' + '\'' + @{/member/login} + '\''" type="button">글 쓰러 가기</button>
    </div>
<div>
    <div th:replace="fragments/footer :: footer" />
</div>



</body>
</html>