<div class="footer" th:fragment="footer">

    <footer class="mt-4 my-5">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px02 text-muted">Home</a></li>

            <!-- 비로그인 상태 -->
            <li class="nav-item" th:if="${memberId == null}">
                <a th:href="@{/member/new}" href="#" class="nav-link px02 text-muted">회원가입</a>
            </li>
            <li class="nav-item" th:if="${memberId == null}">
                <a th:href="@{/member/login}" href="#" class="nav-link px02 text-muted">로그인</a>
            </li>

            <!-- 로그인 상태 -->
            <li class="nav-item" th:if="${memberId != null}">
                <a th:href="@{/member/logout}" href="#" class="nav-link px02 text-muted">로그아웃</a>
            </li>
            <li class="nav-item" th:if="${memberId != null}">
                <a th:href="@{/board/new}" href="#" class="nav-link px02 text-muted">글쓰기</a>
            </li>
            <li class="nav-item" th:if="${memberId != null}">
                <a th:href="@{/member/{id}(id=${memberId})}" href="#" class="nav-link px02 text-muted">마이페이지</a>
            </li>
        </ul>
        <p class="text-center text-muted">&copy; 조성진 게시판</p>
    </footer>
</div>
